.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.gif-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
  gap: 20px; 
  margin-top: 20px;
  padding: 20px;
}

.gif-item {
  text-align: center;
}

img {
  width: 100%; 
  height: auto; 
  display: block; 
  border-radius: 5px; 
}

p {
  font-size: 0.9em;
  color: #555;
}
