.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.gif-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
  gap: 20px; /* Gap between grid items */
  margin-top: 20px;
}

.gif-item {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 0.9em;
  color: #555;
}
